.header {
  z-index: 8;
  width: 100%;
  position: fixed;

  &__container {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    padding: 45px 0;
  }

  &__menu {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.menu {
  &__list {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
  }

  &__link {
    color: $whiteColor;
    font-family: $font-work-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
  }
}

.sticky {
  backdrop-filter: blur(6px) brightness(60%);
}
